---
layout: archive
title: "My Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

{% assign ordered_categories = "academic,personal" | split: "," %}

{% for category_name in ordered_categories %}
  {% case category_name %}
    {% when "academic" %}
      <h2>Academic</h2><hr />
    {% when "personal" %}
      <h2>Personal</h2><hr />
  {% endcase %}

  {% for post in site.ptojects %}
    {% if post.category == category_name %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}